
@{
    Layout = null;
}
@using MongoDB.Bson;
<!DOCTYPE html>

<html mozdisallowselectionprint moznomarginboxes>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/image/data.ico" type="image/x-ico" />
    @Scripts.Render("~/scripts/react-only-js")
    @{
        if (CultureInfo.GetCulture() == "zh-CN")
        {
            <title>文件管理系统</title>
            @Scripts.Render("~/scripts/culture_zh-CN")
        }
        else
        {
            <title>File Management</title>
            @Scripts.Render("~/scripts/culture_en-US")
        }
    }
    @Styles.Render("~/css/preview")
</head>
<body tabindex="1" class="loadingInProgress">
    <div id="shared"></div>
    <input type="hidden" name="userName" id="userName" value="@ViewBag.Name" />
    <input type="hidden" name="role" id="role" value="@ViewBag.Role" />

    <input type="hidden" name="id" id="id" value="@ViewBag.id" />
    <input type="hidden" name="fileId" id="fileId" value="@ViewBag.fileId" />
    <input type="hidden" name="fileName" id="fileName" value="@ViewBag.fileName" />
    <input type="hidden" name="fileType" id="fileType" value="@ViewBag.fileType" />
    <input type="hidden" name="convert" id="convert" value="@ViewBag.convert" />
    <input type="hidden" name="deleted" id="deleted" value="@ViewBag.deleted" />

    <input type="hidden" name="appPath" id="appPath" value="@ViewBag.appPath" />
    <input type="hidden" name="appName" id="appName" value="@ViewBag.appName" />
    <input type="hidden" name="authCode" id="authCode" value="@ViewBag.authCode" />
    <input type="hidden" name="apiType" id="apiType" value="@ViewBag.apiType" />
    @Scripts.Render("~/scripts/preview")
    @if (ViewBag.fileType == "video")
    {
        <script src="~/scripts/jquery-3.3.1.min.js"></script>
        <script src="~/hlsplayer/hlsplayer.min.js" script-flowplayer="~/hlsplayer/flowplayer.swf" script-flowplayerhls="~/hlsplayer/flowplayerhls.swf" script-auto="false"></script>
    }
    @if (ViewBag.fileType == "pdf" || ViewBag.fileType == "office" && ViewBag.fileId != ObjectId.Empty.ToString())
    {
        @Html.Raw(@ViewBag.template)
        <link href="~/pdfview/viewer.css" rel="stylesheet" />
        <link rel="resource" type="application/l10n" href="~/pdfview/locale/locale.txt">
        @Scripts.Render("~/scripts/preview_pdf")
        <script src="~/pdfview/pdf.min.js"></script>
        <script src="~/pdfview/viewer.min.js"></script>
    }
    else
    {
        @Scripts.Render("~/scripts/shared")
    }

</body>
</html>
