
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/image/data.ico" type="image/x-ico" />
    @Scripts.Render("~/scripts/react-only-js")
    @{
        if (CultureInfo.GetCulture() == "zh-CN")
        {
            <title>文件管理系统</title>
            @Scripts.Render("~/scripts/culture_zh-CN")
        }
        else
        {
            <title>File Management</title>
            @Scripts.Render("~/scripts/culture_en-US")
        }
    }
    @Styles.Render("~/css/preview")
</head>
<body>
    <div id="shared_init"></div>

    <input type="hidden" name="userName" id="userName" value="@ViewBag.Name" />
    <input type="hidden" name="role" id="role" value="@ViewBag.Role" />

    <input type="hidden" name="id" id="id" value="@ViewBag.id" />

    <input type="hidden" name="hasPassword" id="hasPassword" value="@ViewBag.hasPassword.ToString()" />
    <input type="hidden" name="expired" id="expired" value="@ViewBag.expired.ToString()" />
    <input type="hidden" name="disabled" id="disabled" value="@ViewBag.disabled.ToString()" />

    <input type="hidden" name="appPath" id="appPath" value="@ViewBag.appPath" />
    <input type="hidden" name="appName" id="appName" value="@ViewBag.appName" />
    <input type="hidden" name="authCode" id="authCode" value="@ViewBag.authCode" />
    <input type="hidden" name="apiType" id="apiType" value="@ViewBag.apiType" />
    @Scripts.Render("~/scripts/preview")
    @Scripts.Render("~/scripts/shared_init")
</body>
</html>
