
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/image/data.ico" type="image/x-ico" />
    @Scripts.Render("~/scripts/react-only-js")
    @Scripts.Render("~/scripts/preview")

    @{
        if (CultureInfo.GetCulture() == "zh-CN")
        {
            <title>文件管理系统</title>
            @Scripts.Render("~/scripts/culture_zh-CN")
        }
        else
        {
            <title>File Management</title>
            @Scripts.Render("~/scripts/culture_en-US")
        }
    }
    @Styles.Render("~/css/preview")
</head>
<body>
    <div id="shared_init"></div>
    <input type="hidden" name="id" id="id" value="@ViewBag.id" />
    <input type="hidden" name="hasPassword" id="hasPassword" value="@ViewBag.hasPassword.ToString()" />
    <input type="hidden" name="expired" id="expired" value="@ViewBag.expired.ToString()" />

    @Scripts.Render("~/scripts/shared_init")
</body>
</html>
