@{
    Layout = null;
}
@using System.Threading;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/image/data.ico" type="image/x-ico" />
    @{
        if (CultureInfo.GetCulture() == "zh-CN")
        {
            <title>文件管理系统</title>
            @Scripts.Render("~/scripts/culture_zh-CN")
        }
        else
        {
            <title>File Management</title>
            @Scripts.Render("~/scripts/culture_en-US")
        }
    }
    <script src="~/scripts/react.min.js"></script>
    <script src="~/scripts/react-dom.min.js"></script>
    <script src="~/scripts/echarts.min.js"></script>
    @Styles.Render("~/css/index")

</head>
<body>
    <div id="index"></div>
    <input type="hidden" name="userName" id="userName" value="@ViewBag.Name" />
    <input type="hidden" name="role" id="role" value="@ViewBag.Role" />
</body>
</html>
@Scripts.Render("~/scripts/index-head")

@if (@ViewBag.Role == "management" || @ViewBag.Role == "admin")
{
    @Scripts.Render("~/scripts/management")
}
@if (@ViewBag.Role == "admin")
{
    @Scripts.Render("~/scripts/admin")
}
@Scripts.Render("~/scripts/index")
