@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/image/data.ico" type="image/x-ico" />
    @Scripts.Render("~/scripts/index-common-js")
    @{
        if (CultureInfo.GetCulture() == "zh-CN")
        {
            <title>文件管理系统</title>
            @Scripts.Render("~/scripts/culture_zh-CN")
        }
        else
        {
            <title>File Management</title>
            @Scripts.Render("~/scripts/culture_en-US")
        }
    }

    @Styles.Render("~/css/login")

</head>
<body>
    <div id="login"></div>
    <input type="hidden" name="userName" id="userName" value="@ViewBag.Name" />
    <input type="hidden" name="role" id="role" value="@ViewBag.Role" />

    <input type="hidden" name="appPath" id="appPath" value="@ViewBag.appPath" />
    <input type="hidden" name="appName" id="appName" value="@ViewBag.appName" />
    <input type="hidden" name="authCode" id="authCode" value="@ViewBag.authCode" />
    <input type="hidden" name="apiType" id="apiType" value="@ViewBag.apiType" />
</body>
</html>
@Scripts.Render("~/scripts/index-login-jsx")