@{
    Layout = null;
}
@using FileService.Business;
@using FileService.Model;
@using MongoDB.Bson;
<!DOCTYPE html>

<html mozdisallowselectionprint moznomarginboxes>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.FileName</title>
    <link rel="icon" href="~/image/data.ico" type="image/x-ico" />

    @Scripts.Render("~/scripts/react-only-js")
    @{
        if (CultureInfo.GetCulture() == "zh-CN")
        {
            @Scripts.Render("~/scripts/culture_zh-CN")
        }
        else
        {
            @Scripts.Render("~/scripts/culture_en-US")
        }
    }
    @Styles.Render("~/css/preview")
</head>
<body tabindex="1" class="loadingInProgress" id="body">
    <div id="preview"></div>

    <input type="hidden" name="fileId" id="fileId" value="@ViewBag.id" />
    <input type="hidden" name="convert" id="convert" value="@ViewBag.convert" />
    <input type="hidden" name="appPath" id="appPath" value="@ViewBag.AppPath" />
    <input type="hidden" name="deleted" id="deleted" value="@ViewBag.deleted" />
    @Scripts.Render("~/scripts/preview")
    @if (ViewBag.fileType == "image")
    {
        @Scripts.Render("~/scripts/preview_image")
    }
    else if (ViewBag.fileType == "video")
    {
        <script src="~/scripts/jquery-3.3.1.min.js"></script>
        <script src="~/hlsplayer/hlsplayer.min.js" script-flowplayer="~/hlsplayer/flowplayer.swf" script-flowplayerhls="~/hlsplayer/flowplayerhls.swf" script-auto-init="false"></script>
        @Scripts.Render("~/scripts/preview_video")
    }
    else if (ViewBag.fileType == "pdf" || ViewBag.fileType == "office" && ViewBag.id != ObjectId.Empty.ToString())
    {
        @Html.Raw(@ViewBag.template)
        <link href="~/pdfview/viewer.css" rel="stylesheet" />
        <link rel="resource" type="application/l10n" href="~/pdfview/locale/locale.txt">
        @Scripts.Render("~/scripts/preview_pdf")
        <script src="~/pdfview/pdf.min.js"></script>
        <script src="~/pdfview/viewer.min.js"></script>
    }
    else if (ViewBag.fileType == "text")
    {
        @Scripts.Render("~/scripts/preview_txt")
    }
    else if (ViewBag.id == ObjectId.Empty.ToString())
    {
        @Scripts.Render("~/scripts/preview_converting")
    }
    else
    {
        @Scripts.Render("~/scripts/preview_notsupported")
    }
</body>
</html>
